<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153795490435-lt273gre3rrusdvcsl8jnk8khpe8eqlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153795490435-lt273gre3rrusdvcsl8jnk8khpe8eqlc</string>
	<key>API_KEY</key>
	<string>AIzaSyAs8uSJtzIX4-TcGLpiMo-y3bKNl9jue1M</string>
	<key>GCM_SENDER_ID</key>
	<string>153795490435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.micheal.GmailAuthProject</string>
	<key>PROJECT_ID</key>
	<string>odc-auth-test</string>
	<key>STORAGE_BUCKET</key>
	<string>odc-auth-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153795490435:ios:22c8eced2ca2d2436861b6</string>
</dict>
</plist>